In [1]:
for i in "Myblog":
    print(i,'?')

M ?
y ?
b ?
l ?
o ?
g ?

In [2]:
for i in range(5):
    print(i)

0
1
2
3
4

In [3]:
for i in range(10,15):
    print(i)

10
11
12
13
14

In [6]:
for i in range(1,11):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [13]:
for i in range(20,1,-2):
    print(i,end=" ")

20 18 16 14 12 10 8 6 4 2

In [18]:
n=int(input())
t=n
i=2
for i in range(n,(n*10)+1,n):
    print(i,end=" ")

4
4 8 12 16 20 24 28 32 36 40

In [25]:
p=0
N=input()
for i in N:
    p=p+int(i)
print("sum=",p)

45
sum= 9

In [24]:
n=int(input())
p=1
for i in range(1,n+1,1):
    p=p*i
print(f"factorial of {n}={p}")

5
factorial of 5=120

In [37]:
N=int(input())
p=0
for i in range(1,N,1):
    if(N%i==0):
        p=p+1
if p==1:
    print("prime number")
else:
    print("not a prime number")

2
prime number

In [42]:
for i in (1,10):
    print(i)

1
10
5

In [41]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [44]:
for i in range(2,7):
    print(i)

2
3
4
5
6

In [45]:
for i in "csiplearninghub":
    print(i)

c
s
i
p
l
e
a
r
n
i
n
g
h
u
b

In [48]:
for i in "python":
    print(i,end='?$')

p?$y?$t?$h?$o?$n?$

In [51]:
for i in (3,4,7):
    print(i)

3
4
7

In [52]:
for i in range(2,10,2):
    print(i)

2
4
6
8

In [53]:
x=5
while(x<15):
    print(x**2)
    x+=3

25
64
121
196

In [54]:
a=7
b=5
while a<9:
    print(a+b)
    a+=1

12
13

In [55]:
b=5
while b<9:
    print("H")
    b+=1

H
H
H
H

In [60]:
b=15
while b>9:
    print("Hello!")
    b=b-2

Hello!
Hello!
Hello!

In [61]:
x="123"
for i in x:
    print("a")

a
a
a

In [62]:
i=9
while True:
    if i%3==0:
        break
    print("A")

No output

In [63]:
a=5
while a<=10:
    print("a")
    a+=1

a
a
a
a
a
a

In [64]:
i=0
while i<3:
    print(i)
    i=i+1
else:
    print(7)

0
1
2
7

In [65]:
i=0
while i<3:
    print(i)
    i=i+1
    print(0)

0
0
1
0
2
0

In [71]:
i=3
for x in range(i):
    i=i+1
    print(i)
    print(i)

4
4
5
5
6
6

In [74]:
i=2
for x in range(i):
    #x+=1
    print(x)
print("x")

0
1
x

In [75]:
i=100
while i<57:
    print(i)
    i+=5

 No output

1
12
123
1234    if n=4

In [80]:
n=int(input())
for i in range(1,n+1,1):
    for j in range(1,i+1,1):
        print(j,end='')
    print()

5
1
12
123
1234
12345

****
***
**
*   if n=4

In [83]:
n=int(input())
for i in range(1,n+1,1):
    for j in range(n,0,-1):
        print("*",end='')
    n-=1
    print()

5
*****
****
***
**
*

In [89]:
s=0
for i in range(0,10,1):
    n=int(input())
    s=s+n
avg=s/10
print("average=",avg)

1
2
3
4
5
6
7
8
9
10
average= 5.5

In [92]:
a=int(input())
b=int(input())
p=0
for i in range(a,b+1,1):
    for j in range(1,i,1):
        if i%j==0:
            p=p+1
    if p==1:
        print(i,end=",")
    p=0

2
9
2,3,5,7,

In [35]:
s=0
for i in range(3,27):
    s=0
    print(f"number: {i}",end=",")
    t=i
    while s!=4 and s!=1:
        s=0
        while i>0:
            d=i%10
            #print("d=",d)
            s=s+(d*d)
            i=i//10
        print(s,end=",")
        i=s
        if s==1:
            print("   Happy number")
        elif s==4:
            print("   Not a Happy number")

number: 3,9,81,65,61,37,58,89,145,42,20,4,,   Not a Happy number
number: 4,16,37,58,89,145,42,20,4,,   Not a Happy number
number: 5,25,29,85,89,145,42,20,4,,   Not a Happy number
number: 6,36,45,41,17,50,25,29,85,89,145,42,20,4,,   Not a Happy number
number: 7,49,97,130,10,1,,   Happy number
number: 8,64,52,29,85,89,145,42,20,4,,   Not a Happy number
number: 9,81,65,61,37,58,89,145,42,20,4,,   Not a Happy number
number: 10,1,,   Happy number
number: 11,2,4,,   Not a Happy number
number: 12,5,25,29,85,89,145,42,20,4,,   Not a Happy number
number: 13,10,1,,   Happy number
number: 14,17,50,25,29,85,89,145,42,20,4,,   Not a Happy number
number: 15,26,40,16,37,58,89,145,42,20,4,,   Not a Happy number
number: 16,37,58,89,145,42,20,4,,   Not a Happy number
number: 17,50,25,29,85,89,145,42,20,4,,   Not a Happy number
number: 18,65,61,37,58,89,145,42,20,4,,   Not a Happy number
number: 19,82,68,100,1,,   Happy number
number: 20,4,,   Not a Happy number
number: 21,5,25,29,85,89,145,42,20,4,,   Not a Happy number
number: 22,8,64,52,29,85,89,145,42,20,4,,   Not a Happy number
number: 23,13,10,1,,   Happy number
number: 24,20,4,,   Not a Happy number
number: 25,29,85,89,145,42,20,4,,   Not a Happy number
number: 26,40,16,37,58,89,145,42,20,4,,   Not a Happy number

In [ ]:
2**789456123652

In [1]:
if 7 + 4 == 10:
    print("True")
else:
    print("False")
print("True")

False
True

In [7]:
a = 0
for i in range(10):
     for j in range(-1, -10, -1):
         a += 1
         print(i,j,"  ",a)
print(a)

0 -1    1
0 -2    2
0 -3    3
0 -4    4
0 -5    5
0 -6    6
0 -7    7
0 -8    8
0 -9    9
1 -1    10
1 -2    11
1 -3    12
1 -4    13
1 -5    14
1 -6    15
1 -7    16
1 -8    17
1 -9    18
2 -1    19
2 -2    20
2 -3    21
2 -4    22
2 -5    23
2 -6    24
2 -7    25
2 -8    26
2 -9    27
3 -1    28
3 -2    29
3 -3    30
3 -4    31
3 -5    32
3 -6    33
3 -7    34
3 -8    35
3 -9    36
4 -1    37
4 -2    38
4 -3    39
4 -4    40
4 -5    41
4 -6    42
4 -7    43
4 -8    44
4 -9    45
5 -1    46
5 -2    47
5 -3    48
5 -4    49
5 -5    50
5 -6    51
5 -7    52
5 -8    53
5 -9    54
6 -1    55
6 -2    56
6 -3    57
6 -4    58
6 -5    59
6 -6    60
6 -7    61
6 -8    62
6 -9    63
7 -1    64
7 -2    65
7 -3    66
7 -4    67
7 -5    68
7 -6    69
7 -7    70
7 -8    71
7 -9    72
8 -1    73
8 -2    74
8 -3    75
8 -4    76
8 -5    77
8 -6    78
8 -7    79
8 -8    80
8 -9    81
9 -1    82
9 -2    83
9 -3    84
9 -4    85
9 -5    86
9 -6    87
9 -7    88
9 -8    89
9 -9    90
90